<h1>All Climbs for <%= @user.username %></h1>

<br><br>

<% @user.climbs.each do |c| %>
  <strong><%= c.name %></strong>  (<%= c.grade %>, <%= c.category %>)
  <br>
  <em><%= c.status.capitalize %></em> at <%= c.location %>
  <br>
  Notes: <%= c.notes %>
  <br><br>
<%end%>

<br><br>

<a href="/home">Return to Account</a>

<br>
