<h1>Edit: <%= @climb.name %></h1>

<br><br>

<form method="POST" action="/climbs/<%= @climb.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="<%= @climb.name %>">
  <br><br>
  <label for="grade">Grade: </label>
  <input type="text" name="grade" id="grade" value="<%= @climb.grade %>">
  <br><br>
  <label for="location">Location: </label>
  <input type="text" name="location" id="location" placeholder="crag, city, state" value="<%= @climb.location %>">
  <br><br>
  <label for="category">Category: </label>
  <input type="text" name="category" id="category" placeholder="boulder, sport, trad" value="<%= @climb.category %>">
  <br><br>
  <label for="status">Status: </label>
  <input type="text" name="status" id="status" placeholder="project, send, flash" value="<%= @climb.status %>">
  <br><br>
  <label for="notes">Notes: </label>
  <textarea id="notes" name="notes" rows="5" cols="30" placeholder="Enter notes here" value="<%= @climb.notes %>"></textarea>
  <br><br>
  <input type="submit" value="Update" id="submit">
</form> 

<form method="POST" action="/climbs/<%= @climb.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>

<br><br>

<a href="/home">Return to Account</a>

<br>