<h2><%= @climb.name %> (<%= @climb.type %>, <%= @climb.grade %>)</h2>

<h2><%= @climb.location %></h2>

<h2><%= @climb.status %></h2>

<p><%= @climb.notes %></p>

<br>

<a href="/climbs/<%= @climb.id %>/edit">Edit Climb</a>

<br><br>