<h1><%= @climb.status.upcase %>: <%= @climb.name %></h1>

<h3><%= @climb.grade %> <%= @climb.category.capitalize %></h3>

<h3><%= @climb.location %></h3>

<br>

<p>Notes: <%= @climb.notes %></p>

<br>

<a href="/climbs/<%= @climb.id %>/edit"><input type="submit" value="Edit"></a>

<form method="POST" action="/climbs/<%= @climb.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>

<a href="/climbs/new"><input type="submit" value="Add"></a>

<br><br>

<a href="/home">Return to Account</a>

<br>